:markdown
  ######Full Circle
      var MainSection = React.createClass({
        _onToggleCompleteAll: function() {
          TodoActions.toggleCompleteAll();
        },
        render: function() {
          return (
            <section id="main">
              <input
                id="toggle-all"
                type="checkbox"
                onChange={this._onToggleCompleteAll}
                checked={this.props.areAllComplete ? 'checked' : ''}
              />
              <label htmlFor="toggle-all">Mark all as complete</label>
              <ul id="todo-list">{todos}</ul>
            </section>
          );
        }
      });